body {
    background-color: yellow;
}

.liste {
    background-color: aqua;
    width: 100%;
    height: fit-content;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.article {
    background-color: beige;

    margin: 15px;
    min-width: 25%;
    max-width: 30%;

    border-radius: 10px;
    height: fit-content;
}

.container {
    margin: 5%;
}

.image img {
    max-width: 100%;
}

.titre {
    font-weight: bold;
    font-size: 350%;
    font-family: "Agency FB", "Calibri", "emoji";
    color: black;
    overflow-wrap: break-word;
}

.prix {
    color: darkblue;
    font-weight: bold;
    font-size: 200%;
    text-align: right;
    margin-bottom: 15px;
}

.description {
    color: black;
}