body {
    background-color: yellow;
}

a {
    text-decoration: none;
}

.liste {
    background-color: aqua;
    width: 100%;
    height: fit-content;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.article {
    background-color: beige;

    margin: 15px;
    min-width: 25%;
    max-width: 30%;

    border-radius: 10px;
    height: fit-content;
    overflow: hidden;
}

.container {
    margin: 5%;
}

.image img {
    max-width: 100%;
}

.titre {
    font-weight: bold;
    font-size: 350%;
    font-family: "Agency FB", "Calibri", "emoji";
    color: black;
    overflow-wrap: break-word;
}

.prix {
    color: darkblue;
    font-weight: bold;
    font-size: 200%;
    text-align: right;
    margin-bottom: 15px;
}

.description {
    color: black;
    max-height: 100px;
    overflow: hidden;
}

.button{
    border-radius: 100px;
    margin: 10px 5px;
    width: 45px;
    height: 45px;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    box-shadow: 0px 10px 10px #CECECE;
}
.like{
    background-color: #EDE9F7;
    background-image: url("../images/logo_coeur_non_active.png") ;
}
/*
.like:active {

    background-color: #FEEBEA;
    background-image: url("../images/logo_coeur_active.png") ;
}

 */
